*
{
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root 
{
    color-scheme: light dark;
    --footer-height: 64px;
    --navigation-bar-height: 3rem;
    --breadcrumb-bar-height: 2rem;
}

time
{
    overflow-wrap: break-word;
    font-size: 1.125em;
    text-align: justify;
    word-break: normal;
    line-height: 1.5;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h1
{
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h2
{
    font-size: 1.75rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

h3
{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

h4
{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

p, li
{
    overflow-wrap: break-word;
    font-size: 1.125rem;
    text-align: justify;
    word-break: normal;
    line-height: 1.5;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li
{
    line-height: normal;
}

h1, h2, h3, h4, h5, h6, p, label, time, li, ul
{
    color: var(--font-color);
}

ul
{
    padding:16px;
}

a
{
    color: var(--link-color);
}

html
{
    width: 100%;
    height: 100%;
    height: 100dvh;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

body 
{
    width: 100%;
    height: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    /* min-height: 100%; */
}

article
{
    padding-block-end: 16px;

}

.main
{
    max-width: 1440px;
    margin: auto auto;
    display: grid;
    grid-template-areas: "toc article side";
    grid-template-columns: 1fr 3fr 1fr;
    z-index: 0;
    grid-template-rows: auto;
    /* grid-template-rows: calc(100vh - (3rem + 2rem + 24px + 45px)); */
    /* min-height: calc(100vh - (3rem + 2rem + 24px + 45px)); */
}

.article-container
{
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    width: 100%;
    box-sizing: border-box;
}

.container
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width:100%;
}

header
{
    position: sticky;
    top: 0px;
    z-index: 200;

}

.navbar
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #2C8EEC;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 15px 5px rgba(107, 107, 107, 0.5);
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25), 0px 0px 15px 5px rgba(30, 30, 30, 0.5);

}

.navbar-logo
{
    box-sizing: border-box;
    display: flex;
    padding-left: 8px;
}

.navbar-logo h2 a
{
    font-family: 'Lucida Sans Unicode';
}

.navbar-logo a:active
{
color: black;
}

.navbar-logo a:visited
{
    color: black;

}

.navbar-logo a
{
    text-decoration: none;
    color: black;
}

.navbar-container
{
    display: flex;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    max-width: 1440px;
    width: 100%;
    background-color: #80B4E8;
    background-color: #2C8EEC;
    /* height: 4rem; */
    height: var(--navigation-bar-height);
    gap:calc(16px);
}

.bread-crumb-container
{
    display: block;
    align-items:center;
    box-sizing: border-box;
    position:relative;
    top: 0px;
    /* max-width: 1440px; */
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color: #4e6dd4;
    /* background-color: #6783dd; */
    background-color: #4D82FF;  
    background-color: #cecece;  
    background-color: #2C8EEC;
    
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid black; */
    /* border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,100,181,1) 50%, rgba(9,9,121,1)) 1; */
}

.bread-crumb
{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items:center;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c6c9e9;
    justify-content: space-between;
    background-color: #aabaf1;
    background-color: #4D82FF;
    background-color: #cecece;  
    background-color: #2C8EEC;
    height: var(--breadcrumb-bar-height);
    /* height: 40px; */
}

.left-bread-crumb
{
    display:flex;
    text-align: center;
    align-items: center;
    height: var(--breadcrumb-bar-height);
    padding: 8px;
    /* background-color: grey; */
    box-sizing: border-box;
    display:none;
}

.right-bread-crumb
{
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    height: var(--breadcrumb-bar-height);
    /* padding: 8px; */
    justify-items: end;    
    margin-left: auto;

    /* display:none; */
    /* background-color: grey; */   
}

.navbar-main
{
    display: flex;
    font-size: 1.1rem;
    margin-left: 16px;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    /* justify-content: flex-end; */
    box-sizing: border-box;
}

.navbar-icons-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.navbar-icons
{
    justify-self: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.theme-button
{
    justify-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 8px;
}

.navbar-icons a
{
    justify-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 8px;
    
}

.burger
{
    justify-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 8px;
    display: none;
}

.navbar-main a
{
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    height:100%;
    align-content: center;

    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-main a:hover 
{
    background: #ddd;
    color: black;
}

.navbar-main ul
{
  list-style-type: none;
}

.navbar-main li
{
  float: left;
}

.navbar-main li
{
    overflow-wrap: break-word;
    font-size: 1rem;
    text-align: justify;
    word-break: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}

a
{
  font-family: "Roboto", sans-serif;
}

a 
{
  text-decoration: none;
}

.main > .toc
{
    grid-area: toc;  
}

.main > article
{
    grid-area: article;  
}

.main .side
{
    grid-area: side;
    /* background-color: #ff823a; */
}

.toc
{
    width: 100%;
    /* width:fit-content; */
    display: block;
    padding: 8px;
    justify-items: end;
    box-sizing: border-box;
    justify-self: end;
    justify-self: left;
    z-index: 2;
    /* background-color: var(--side-bar-background-color); */
}

.toc a
{
    color: var(--side-bar-font-color);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: block;
    padding: 4px;
    box-sizing: border-box;
    text-align: left;
}

.toc a:hover
{
    text-decoration: underline;
}

.toc a:link
{
    color: var(--side-bar-font-color);
}

.toc a:visited
{
    color: var(--side-bar-font-color);
}

.toc-container
{
    display: block;
    margin: 0 auto;
    position: sticky;
    padding: 16px;
     /* size of navigation bar + padding)*/
    /* top: calc(4rem + 2rem + 16px); */
    /* top: calc(3rem + 2rem + 16px); */
    /* top: calc(3rem + 2rem + 16px); */
    top: calc(var(--navigation-bar-height) + var(--breadcrumb-bar-height) + 16px);
    /* justify-items: end; */
    box-sizing: border-box;
    /* box-sizing: content-box; */
    overflow-y: auto;
    overflow-x: hidden;
    /* height: calc(100vh - (3rem + 2rem + 24px)); */
    height: calc(100vh - var(--breadcrumb-bar-height) - var(--navigation-bar-height));
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.toc ul
{
    list-style: none;
    justify-items: start;
    width:100%;
    display:block;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 0px;
    margin:0px;
}

.toc li
{
    font-size: 1rem;
    margin-block-start: inherit;
    margin-block-end: inherit;
}

.toc li > ul
{
    padding-left: 1rem;
    
}

.toc li
{
    /* font-size: 1.2rem; */
    line-height: 1.5;
}

.toc-container h2, .side h2
{
    margin-top: 0px;
}

.toc ::-webkit-scrollbar
{
    display: none;
}

.side
{
    width: 100%;
    /* width:fit-content; */
    display: block;
    padding: 8px;
    justify-items: end;
    box-sizing: border-box;
    justify-self: end;
    justify-self: left;
    z-index: 2;
    /* background-color: var(--side-bar-background-color); */

}

.side a
{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 2;
    padding:8px;
    /* font-size: 1.2rem; */
    
}

.side a:hover
{
    text-decoration: underline;
}

.side a:link
{
    color: var(--side-bar-font-color);
}

.side a:visited
{
    color: var(--side-bar-font-color);
}

.side-container
{
    display: block;
    margin: 0 auto;
    position: sticky;
    padding: 16px;
     /* size of navigation bar + padding)*/
    top: calc(4rem + 2rem + 16px);
    top: calc(3rem + 2rem + 16px);
    top: calc(var(--navigation-bar-height) + var(--breadcrumb-bar-height) + 16px);
    /* justify-items: end; */
    box-sizing: border-box;
    /* box-sizing: content-box; */
    /* top:0; */
    /* overflow-y:auto; */
    /* overflow-x:hidden; */
    /* height:100%; */
}

.side ul
{
    list-style: none;
    justify-items: start;
    width:100%;
    display:block;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 0px;
    margin:0px;
    font-size: 0.9rem;
}

.side li > ul
{
    padding-left: 16px;
}

.side li
{
    font-size: 1rem;
    line-height: 1.5;
}

.group-vertical
{
    display:flex;
    flex-direction: column;
    width:fit-content;
}

img
{
    max-width: 100%;
    height: auto;
}

.toolbar
{
    background: #b8b8b8;
    /* margin: 0 auto; */
    margin-left:auto;
    margin-right: auto;
    max-width: 512px;
    width:100%;
    box-sizing: border-box;
    margin-top:8px;
    height: fit-content;
    overflow:auto;
    /* padding:8px; */
}

.progress
{
    position:absolute;
    left:0px;   
    top:4px;
    height:20px;
    width: 50%;
    background-color: red;
    align-self: center;
    align-content: center;
    height:24px;
}

.toolbar-container
{
    padding: 8px;
    
    display: grid;
    grid-template-columns: 1fr max-content;
}

.toolbar-title
{
    display:flex;
    /* padding-top:8px; */
    /* padding-left:8px; */
    padding:4px;
    padding-left: 8px;
    font-family: Consolas, monospace;
    font-size: 14px;
    background-color: rgb(41 74 122);
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto;
    width:100%;
    box-sizing: border-box;
    color:white;
    
}

input[type="color"] 
{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.slider
{
    display: flex;
    align-items: center;
    /* padding:8px; */
}

.slider-container
{
    position: relative;
    display: flex;
    align-items: center;
    width:100%;
    font-family: 'Segoe UI', Consolas, monospace;
    font-style: normal; font-variant: normal;;
}

.checkbox-container
{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Consolas, monospace;
    font-style: normal; font-variant: normal;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.toolbar input[type="checkbox"]
{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #1d2f49;
}

.toolbar input[type="checkbox"]:hover
{
    background-color: #23456d;
    cursor: pointer;
}

.toolbar input[type="checkbox"]:checked::before
{
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.toolbar input[type="checkbox"]:checked::before
{
    font-family: Consolas, monospace;
    font-style: normal; font-variant: normal;
    content:'✔';
    font-size: 16px;
    color: #4296fa;
}


.toolbar-container label
{
    font-family: Consolas, monospace;
    font-size: 14px;
    font-style: normal;font-variant: normal;
    align-self: center;
    /* min-width: 64px; */
    white-space: nowrap;
    text-align: left;
    margin-left: 8px;
}

.toolbar span
{
    font-family: Consolas, monospace;
    font-size: 14px;
    position: absolute;
    left: 0%;
    width:100%;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    text-align: center;
}

input[type=range]
{
    -webkit-appearance: none;
    appearance: none;
    /* margin: 4px 0px 4px 0px; */
    /* border-radius: 2.5px; */
    width: 100%;
    margin-block: 4px;
  }

input[type=range]:focus
{
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 24px;
    cursor: ew-resize;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #e7e7e7;
    
}

input[type=range]::-webkit-slider-thumb
{
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 24px;
    width: 32px;
    border-radius: 0px;
    background: #3d85e0;
    cursor: ew-resize;
    -webkit-appearance: none;
    margin-top: 0px;
}

input[type=range]::-moz-range-track
{
    width: 100%;
    height: 24px;
    cursor: ew-resize;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #1d2f49;
    appearance: none;
}

@supports (-moz-appearance: none)
{
    input[type=range]
    {
        margin-block: 8px;
    }
}

input[type=range]::-moz-range-thumb
{
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 24px;
    width: 32px;
    border-radius: 0px;
    background: #3d85e0;
    cursor: ew-resize;
    margin-top: 0px;
}

input[type=range]::-webkit-slider-runnable-track
{
    background: #1d2f49;
}

input[type=range]::-webkit-slider-thumb
{
    background: #3d85e0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    /* background: #ac51b5; */
    background: #1d2f49;
}

.toolbar span
{
    color:white;
}

.toolbar-container label
{
    
    color:white;
}
  
.toolbar
{
    background-color: #0b0b0b;
}

input[type="radio"]
{
    margin:4px;
    /* margin-left: 8px; */
    appearance: none;
    background-color: #1d2f49;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;    
}

input[type="radio"]:hover
{
    background-color: #23456d;
}

input[type="radio"]:active
{
    background-color: #23456d;
}

input[type="radio"]:checked
{
    border: 3px solid #23456d;
    background-color: #0f87fa;
}

.toolbar label
{
    font-family: Consolas, monospace;
    font-size: 14px;
    font-style: normal; font-variant: normal;;
    align-self: center;
    padding:4px;
    padding-left: 2px;
    color: white;
}

@media (hover: hover)
{
    .toolbar button:hover
    {
        background-color: #4296fa;
    }
    
}

.toolbar button:active
{
    background-color: #0f87fa;
}

.toolbar button
{
    font-family: Consolas, monospace;
    font-size: 14px;
    background-color: #21436b;
    border:none;
    color:white;
    text-align: center;
    padding: 4px;
    margin: 2px;
    /* margin-left: 8px; */
    /* margin-right: 8px; */
    box-sizing: border-box;
}


.toolbar
{
    outline: solid 1px rgb(66 66 76);
    /* margin: 0 auto; */
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 512px;
    /* width:100%; */
    box-sizing: border-box;
    margin-top:8px;
    /* padding:8px; */
}

.toolbar-container
{
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr max-content;
}

canvas
{
    margin: 8px auto;
    display: block;
    max-width: 100%;
    /* box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5); */
}

.footer-container
{
    display:flex;
    flex-direction: column;
    width: 100%;
    position:relative;
    align-items: center;
    justify-content: center;
}

.main
{
    min-height: 85vh;
    min-height: calc(100vh - (3rem + 2rem + 24px + 64px));
    min-height: calc(100vh - (3rem + 2rem + 64px));
    min-height: calc(100dvh - (3rem + 2rem + 64px));
    /* put footer at the bottom of viewport */
    min-height: calc(100dvh - (var(--navigation-bar-height) + var(--breadcrumb-bar-height) + var(--footer-height)));
}


article
{
    padding: 8px;
}

[color-scheme="dark"]
{
    --background-color: #2b2b2b;
    --font-color: #d4d4d4;
    --link-color:#2C8EEC;

    --side-bar-background-color: #3b3b3b;
    --side-bar-font-color: #d4d4d4;
    --project-card-background-color: #e0e0e08c;
    --project-card-background-color: #3030308c;
    --project-card-background-color: #40404050;
    
    --tooltip-background-color: #d6d6d6;
    --tooltip-font-color: #2b2b2b;
    --tooltip-link-color: #2C8EEC;

    --figure-background-color: #292929;
    --figure-border-color: #202020;

    --scrollbar-color: #3b3b3b;
    --scrollbar-track-color: #505050;
    --scrollbar-thumb-color: #909090;
    --scrollbar-thumb-hover-color: #bbbbbb;

    --table-header-color: #2C8EEC;
    --table-hover-color: #2c8fecbd;

    #theme-switch-button
    {
        background-color: var(--background-color);
        border-radius: 16px;
        box-shadow: 0px 0px 4px rgba(31, 31, 31, 0.5) inset;
    }

    #theme-switch-button + label {
        
        transform: translateX(100%) scale(80%);
        transition: transform 0.25s ease-in-out;
        box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.5);
        background-image: url(/dark-theme-icon.svg);
        background-color: rgb(94, 94, 94);
    }
}

[color-scheme="light"]
{
    --background-color: #d6d6d6;
    --font-color:black;
    --link-color:#0066CC;
    --side-bar-background-color: #d6d6d6;
    --side-bar-font-color: black;
    --project-card-background-color: #e0e0e08c;
    --project-card-background-color: #40404050;
    
    --tooltip-background-color: #2b2b2b;
    --tooltip-font-color: #d6d6d6;
    --tooltip-link-color: #2C8EEC;

    --figure-background-color: #cccc;
    --figure-border-color: #c0c0c0;

    --scrollbar-color: #3b3b3b;
    --scrollbar-track-color: #505050;
    --scrollbar-thumb-color: #909090;
    --scrollbar-thumb-hover-color: #bbbbbb;

    --table-header-color: #2C8EEC;
    --table-hover-color: #2c8fecbd;

}

@media (prefers-color-scheme: dark) {
    :root
    {
        color-scheme: dark;
    
    }
}

@media (prefers-color-scheme: light) {
    :root
    {
        color-scheme: light;
    
    }
}

:target, section[id], h2[id], h3[id], h4[id]
{
    scroll-margin-top: calc(4rem + 2rem + 16px);
    scroll-margin-top: calc(3rem + 2rem + 16px);
    /* scroll-margin-top: calc(3rem + 2rem + 64px); */
}

.active
{
    /* border-left: 5px solid #2C8EEC; */
    position: relative;
}

.active:before
{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: #2C8EEC;
}

.project-card-container
{
    display:flex;
    flex-direction: column;;
    box-sizing: border-box;
    gap: 16px;
}

.project-card
{
  display:flex;
  position:relative;
  flex-direction: column;
  background-color: #e0e0e0;
  width:100%;
  height:100%;
  /* margin:16px; */
  /* border-radius: 8px; */
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  outline: 2px solid gray;
}

.project-card:hover
{
  outline: 2px solid #5391cc;
}

.project-card-inner
{
    box-sizing: border-box;

    display:flex;
    flex-direction: column;
    position:absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    gap:0;
    flex-wrap: wrap;
    background-color: var(--project-card-background-color);
    /* background-color: transparent; */
    /* -webkit-backdrop-filter: blur(4px); */
    /* backdrop-filter: blur(4px); */
    /* background-color: #3030308c; */
    /* padding-left:16px; */
    /* padding-right:16px; */
    /* margin: 16px; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25) inset;
    padding:8px;
    /* margin:16px; */
    /* border-radius: 8px; */
    /* margin-block-start: 8px; */

}

a .project-card p
{
  color:var(--font-color);
  color:white;
}

.project-card h2
{
    font-size: 1.5rem;
    margin-block-start: 4px;
    margin-block-end: 0;
    margin-inline-start: 8px;
    color:white;
}

.project-card p
{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 8px;
}

.post
{
    box-sizing: border-box;
}

.post h2
{
    margin-bottom:0;
}

.post p
{
    margin-top:0px;
}

.post-container ul
{
    list-style: none;
    justify-items: start;
    width:100%;
    display:block;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 0px;
    margin:0px;
    font-size: 0.9rem;
}

.post-container > ul
{
    padding-left: 0px;
    
}

.post-container li
{
    line-height: 1.5;
    box-sizing: border-box;
}

.page-not-found
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    /* height:100%; */
    height:calc(100dvh - (3rem + 2rem + 64px + 16px));
    margin:0;
    padding:0;
    /* padding: calc(50% - (3rem + 2rem + 16px)) 0 calc(50% - (3rem + 2rem + 16px)) 0; */
    box-sizing: border-box;

}

.page-not-found h1
{
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.page-not-found p
{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 16px;
}

.page-not-found a
{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: black;
    color:white;
    padding: 16px;
}

.page-not-found a:hover
{
    background-color:#0066CC;
}


.page-not-found a:active
{
    color: white;
    background-color:#007af5;
}


#scrollToTop
{
    background-color: black;
    color: white;
    border: 0;
    font-size: 13px;
    padding: 2px;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.footer-container
{
    height: var(--footer-height);
}


.navbar svg
{
    fill:black;
}

.navbar svg:hover
{
    fill: #d8d8d8;
    transition: all 0.2s ease-in;

    /* stroke-width: 5px; */
    /* filter: 
    drop-shadow(0px -1px 0px #124371) 
    drop-shadow(1px 0px 0px #124371) 
    drop-shadow(-1px 0px 0px #124371)
    drop-shadow(0px 1px 0px #124371) */
}

.navbar svg:active
{
    fill: white;
    filter: 
    drop-shadow(2px 2px 0px #124371) 
}

.navbar svg:visited
{
    fill: black;
}

.info-box.information
{
    border-left: 5px solid #2C8EEC;
}

.info-box
{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.info-box-icon-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 16px;
    padding: 8px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    box-sizing: border-box;
    justify-content: flex-start;
}

.info-box-icon-container h2
{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    margin:0;
    padding:0;
    color: black;
    align-self: end;
    bottom: 0px;
    flex-direction: column;
}

.info-box-text-container
{
    margin: 0;
    padding: 16px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    box-sizing: border-box;
}

.info-box-text-container p
{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    line-height: 1.25;
}

.info-box.warning
{
    border-left: 5px solid rgb(255, 166, 65);
    
}

.info-box.warning  .info-box-text-container
{
    background-color: rgb(230, 230, 230);
}

.info-box.warning  .info-box-icon-container
{
    background-color: rgb(255, 204, 64);
}

.info-box.warning svg
{
    fill: rgb(255, 102, 0);
}

.info-box.information  .info-box-text-container
{
    background-color: rgb(230, 230, 230);
}

.info-box.information  .info-box-icon-container
{
    background-color: rgb(64, 163, 255);
}

.info-box.information svg
{
    fill: black;
}

#my-codeblock.highlight.my-class
{
    display:block;
    padding: 0;
    margin: 0;
}

code
{
    display:block;
    padding: 0;
    margin:0;
    white-space: pre-line;
    overflow-wrap: anywhere; 
    width:100%;

}

.theme-switch-container
{
    width: 64px;
    height: 32px;
    background-color: var(--background-color);
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(1, 1, 1, .5) inset;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10px;
}

.theme-switch-container .theme-switch-label
{
    width: 50%;
    height:100%;
    background-color: var(--background-color);
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, .5);
    background-image: url(/light-theme-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(0%) scale(0.8);
    transition: transform 0.25s ease-in-out;
}

#theme-switch-button
{
    width: 100%;
    height:100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
}

.katex-display > .katex { white-space: normal; }
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0; }
/* Compensate by reducing space around display math */
.katex-display { margin: 0.5em 0; }

.math-container
{
    color: var(--font-color);
}

.katex-html {
    align-items: baseline;
    width: 100%;
    /* background-color: purple; */
    box-sizing: border-box;
    white-space: normal; 
}
    
.katex .base {
    
    width: fit-content;
    /* background-color: green; */
    box-sizing: border-box; 
    position:relative; 
}

kbd
{
    display: inline-block;
    padding: 4px;
    font-size: 1rem;
    font-family: Consolas, monospace;
    color: var(--font-color);
    vertical-align: middle;
    align-content: center;
    align-self: center;
    background-color: var(--background-color);
    border: solid 1px gray;
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 gray;
}

.tooltip-container {
    /* This causes highlighting to break */
    /* display: inline-flex; */
    justify-content: center;
    position: relative;
    border-bottom:1px dashed var(--font-color);
}


@media (hover: hover)
{
    .tooltip-container:hover .tooltip
    {
        display: flex;
        display:inline-block;
    }
}

.tooltip-container .tooltip
{
    display: none;
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-font-color);
    border-radius: 4px;
    /* bottom: calc(100%); */
    top:100%;
    box-shadow: 0px 2px 4px #07172258;
    font-size: 1rem;
    justify-content: center;
    padding: 8px 8px;
    text-align: center;
    width: 25vw;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-links
{
    display:block;
    color:var(--tooltip-link-color);
}

.citation-container
{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.citation-label
{
    padding-top: 8px;
    grid-area: citation-label;  
    box-sizing: border-box;
    align-self: right;
    align-content: right;
    text-align:right;
    min-width: 2rem;
    color:var(--font-color);

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
}

.citation-text
{
    grid-area: citation-text;  
    box-sizing: border-box;
    white-space: normal;
    color:var(--font-color);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 1.125em;
}

.citation-text p
{
    color:red;
}

.citation-links
{
    grid-area: citation-links;  
    box-sizing: border-box;
    
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125em;
}

.citation
{
    display: grid;
    grid-template-areas: "citation-label citation-text"
                         ".              citation-links";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    column-gap: 8px;
    grid-template-columns: min-content;
}

.chroma span
{
    font-size: 1rem;
}

.footer-container p
{
    font-family: monospace;
    font-size: 1rem;
}

@media screen and (max-width: 1216px)
{
    .main
    {
        max-width: 50rem;
        margin: auto;
        /* padding: 0rem 1rem 0rem 1rem; */

    }

    .main
    {
        grid-template-areas: "article";
        grid-template-columns: 1fr;
        /* display:flex; */
        
    }

    .main
    {
        max-width: 70rem;
        max-width: 45rem;
        margin: auto;
        padding: 0px 8px 0px 8px;
        padding: 0 1rem 0 1rem;
    }

    .left-bread-crumb
    {
        display:flex;
    }

    .right-bread-crumb
    {
        display:flex;
    }

    .burger
    {
        display: flex;
    }
    
    .toc
    {
        display: block;
        position:fixed;
        left: 0;
        top: calc(4rem + 2rem);
        top: calc(3rem + 2rem);
        width: fit-content;
        min-width: 25vw;
        height: 100%;
        display: none;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--side-bar-background-color);

    }
    .side
    {
        display: block;
        position: fixed;
        right: 0;
        top: calc(4rem + 2rem);
        top: calc(3rem + 2rem);
        width: fit-content;
        min-width: 25vw;
        height:100%;
        display: none;
        box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        bottom:0;
        overflow-y:auto;
        overflow-x:hidden;
        background-color: var(--side-bar-background-color);
    }

    .toc-container
    {
        top: 8px;

    }

    .side-container
    {
        top: 8px;
    }

    .darken
    {
        filter:brightness(50%);
        /* box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3) inset; */
    }
    
    .darken-background
    {
        box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .5) inset;
    }

    .project-card h2
    {
        font-size: 1.2rem;
        margin-block-start: 4px;
        margin-block-end: 0;
        margin-inline-start: 8px;
        color:white;
    }
    .project-card p
    {
        font-size: 1rem;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 8px;
    }
}


@media screen and (max-width: 825px) {
    h1 
    {
        font-size: 2rem;
    }

    h2
    {
        font-size: 1.5rem;
    }

    p, label, li
    {
        font-size: 1.2rem;
    }

    .citation-text, .citation-links, .citation-label
    {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 825px)
{

    .navbar-main a
    {
        font-size: 1rem;
        padding: 16px 16px 16px 16px;
    }

    .chroma span
    {
        font-size: 0.9rem;
    }

    .navbar-icons svg
    {
        width: 24px;
    }
        
    .project-card h2
    {
        font-size: 1.2rem;
        margin-block-start: 4px;
        margin-block-end: 0;
        margin-inline-start: 8px;
        color:white;
    }
    
    .project-card p
    {
        font-size: 1rem;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 8px;
        display: none;
    }

    .page-not-found h1
    {
        font-size: 2.5rem;
    }

    .page-not-found p
    {
        font-size: 1.75rem;
    }

    .page-not-found a
    {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 475px)
{
    p, label
    {
        font-size: 1rem;
    }

    .footer-container p
    {
      font-size: 0.8rem;
    }    

    .chroma span
    {
        font-size: 0.8rem;
    }

    .citation-text, .citation-links, .citation-label
    {
        font-size: 0.95rem;
    }

    .navbar-icons-container
    {
        gap: 0px;
    }

    .burger
    {
        display: flex;
    }
    .navbar-logo h2
    {
        font-size: 1.2rem;
    }

    .navbar-main
    {
        margin-left: 8px;
    }

    .project-card h2
    {
        font-size: 0.8rem;
        margin-block-start: 2px;
        margin-block-end: 0;
        margin-inline-start: 2px;
    }

    .project-card
    {
        height: 20vh;
        height: 20dvh;
    }
            
    .theme-switch-container
    {
        width: 48px;
        height:24px;
    }

    .katex
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px)
{
    .navbar-logo h2
    {
        font-size: 1.1rem;
    }

    .navbar-main a
    {
        font-size: 0.9rem;
        padding: 10px;
        height:100%;
        align-content: center;
    }
    
    .post h2
    {
        font-size: 1.25rem;
    }

    
    .info-box-icon-container h2
    {
        font-size: 1.2rem;
    }

    .info-box-text-container p
    {
        font-size: 0.9rem;
    }

    kbd
    {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px)
{
    .navbar-logo h2
    {
        font-size: 1.1rem;
    }

    .navbar-main a
    {
        font-size: 0.9rem;
        padding: 10px;
        height:100%;
        align-content: center;
    }

    p, li
    {
        font-size: 0.9rem;
    }

    .footer-container p
    {
      font-size: 0.8rem;
    }    

    .citation-text, .citation-links, .citation-label
    {
        font-size: 0.8rem;
    }
    
    .katex
    {
        font-size: 0.8rem;
    }

    kbd
    {
        font-size: 0.8rem;
    }
}

.expand
{
    display: block;
}

[color-scheme="dark"]
{
    /* PreWrapper */ .chroma { border-radius: 4px; padding: 16px; box-sizing: border-box;}
}    

[color-scheme="light"]
{
    /* PreWrapper */ .chroma { border-radius: 4px; padding: 16px; box-sizing: border-box; }
}

figure {
    border: thin var(--figure-border-color) solid;
    display: flex;
    flex-flow: column;
    margin: auto;
    color:black; 
    margin: 8px 0;
    margin: 8px;
    padding-top: 4px;
    background-color: var(--figure-background-color);
  }
  

figcaption {
    /* background-color: #222; */
    color: var(--font-color);
    font: italic sans-serif;
    padding: 4px;
    text-align: center;
    width:100%;
  }

figcaption a
{
    font-size: 0.75rem;
    padding:0;
    margin:0;
    width: 100%;
    word-break: break-all;
}

.center
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.left
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: auto;
}

.right
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
}

.float-left
{
    float: left;
    overflow: auto;
}

.float-right
{
    float: right;
    overflow: auto;

}

.float-inline-start
{
    float: inline-start;
    overflow: auto;
}

details {
font:
    1rem "Open Sans",
    Calibri,
    sans-serif;
    width:100%;
    color: var(--font-color);
    /* background-color: #616161; */
    /* box-shadow: 2px 2px 8px black; */
    background-color: var(--figure-background-color);
    border: 1px solid var(--figure-border-color);
    border-radius: 5px;
}

.details-content-wrapper > p
{
font:
1rem "Open Sans",
    Calibri,
    sans-serif;
}

details > summary
{
    font:
    18px "Open Sans",
    Calibri,
    sans-serif;
    padding: 2px 6px;
    width: 15em;
    background-color: #4e4e4e;
    background-color: #1f87db;
    border: none;
    /* box-shadow: 3px 3px 4px black; */
    cursor: pointer;
    width:100%;
    border-radius: 5px;
}

details .details-content-wrapper
{
    padding: 16px;
}

details[open] summary
{
    border-radius: 5px 5px 0 0;
}

details > summary:hover
{
    background-color: #4aa5f0;
}

details > #details-content
{
    background-color: red;
}

details > p
{
    font:
    16px "Open Sans",
    Calibri,
    sans-serif;
    /* border-radius: 0 0 10px 10px; */
    /* background-color: #4b4b4b; */
    padding: 2px 6px;
    margin: 0;
    /* box-shadow: 3px 3px 4px black; */
}

details[open] > summary {
    background-color: rgb(151, 151, 151);
    background-color: #4aa5f0;
}

.width-100
{
    width:100%;
}

table 
{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--figure-border-color);
}

td, th
{
    border: 1px solid var(--figure-border-color);
    padding: 8px;
    color: var(--font-color);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

th
{
    padding-top: 16px;
    padding-bottom: 16px;  background-color: var(--table-header-color);
    letter-spacing: 1px;
}

tr:hover
{
    background-color: var(--table-hover-color);
}
